<p><h1> System wspomagający wybory samorządowe </h1></p>


<br>

<p> Przejdź do: <%= link_to 'Województwa', voivodeships_path %> </p>

<p> Przejdź do: <%= link_to 'Okręgi wyborcze', constituencies_path %></p>

<p> Przejdź do: <%= link_to 'Komitety Wyborcze', committees_path %> </p>

<p> Przejdź do: <%= link_to 'Wyniki głosowania', votes_path %> </p>